<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YatesMorrison.Security.Authentication.Properties.Settings.SiteSmith_AuthenticationConnectionString"
            connectionString="Data Source=COMPUTRONIX\YMS;Initial Catalog=SiteSmith.Authentication;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>