<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="TestProvider"
						 type="YatesMorrison.SiteSmith.Service.ProviderConfigurationSection, SiteSmith.Service" />
	</configSections>
	<TestProvider default="Test">
		<providers>
			<add name="Test"
           type="YatesMorrison.SiteSmith.Test.TestProvider, SiteSmith.Test" />
		</providers>
	</TestProvider>
</configuration>