<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YatesMorrison.Security.Authorization.Properties.Settings.SiteSmith_AuthorizationConnectionString"
            connectionString="Data Source=COMPUTRONIX\YMS;Initial Catalog=SiteSmith.Authorization;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>